<!DOCTYPE html>
<html>
<head>
	<title>One Book</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/mainApp.css' %}">
</head>
<body>
	<div class="main_wrapper">
		<div class="header">
			<a href="/books" class="first_link">Home</a>
			<a href="/logout">Logout</a>
		</div> <!-- end of header -->
		<div class="main_content">
			<h2>Title: {{book.title.title}} </h2>
			<h4>Author: {{book.author.title}} </h4>

			<div class="left_side">
				<h3>Reviews:</h3>
				{% for review in reviews %}
					<p>{{review.review}}</p>
				{% endfor %}
			</div> 
			<div class="right_side">
				<h3>Add a Review:</h3>
				<form action="/add_review" method="post" class="book_add_form">
					<fieldset>
						{% csrf_token %}
						<legend>Add Book</legend>
						<input type="hidden" name="book_id" value="{{book.id}}">
						Review: <textarea name="review"></textarea>
						Rating: 
						<select name="rating">
  							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select><br>
						<input type="submit" value="Register">
					</fieldset>
				</form>	

			</div> 
		</div> <!-- end of main content -->
	</div><!-- end of main_wrapper -->
</body>
</html>