<!DOCTYPE html>
<html>
<head>
	<title>user </title>
</head>
<body>
<div class="main_wrapper">
		<div class="header">
			<a href="/books" class="first_link">Home</a>
			<a href="/book/add">Add Book and Review</a>
			<a href="/logout">Logout</a>
		</div> <!-- end of header -->
		<div class="main_content">
			<h2>User Alias: {{user.user.alias.title}}</h2>
			<h3>User Name: {{user.user.first_name.title}}</h3>
			<h3>Email: {{user.user.email.title}}</h3>
			<h3>Number of ratings: {{all_reviews|length}}</h3>
			<h4>{{reviews.user.first_name}}</h4>
				<p>Recent Ratings:</p>
				<hr>
				{% for review in reviews %}
					<a href="/book/{{review.book.id}}">{{review.book.title}}</a>
				{% endfor %}

		
		</div> <!-- end of main content -->
	</div><!-- end of main_wrapper -->
</body>
</html>